@model List<Projeto.ViewModels.EntregaCorrigirViewModel>

<h2>Corrigir Atividades</h2>

@foreach (var entrega in Model)
{
    <form asp-action="SalvarCorrecao" method="post">
        <input type="hidden" name="Id" value="@entrega.Id" />

        <div class="form-group mb-3">
            <label>Aluno</label>
            <input value="@entrega.NomeAluno" class="form-control" readonly />
        </div>

        <div class="form-group mb-3">
            <label>Resposta do Aluno</label>
            <textarea class="form-control" rows="5" readonly>@entrega.RespostaAluno</textarea>
        </div>

        @* MOSTRA O ANEXO, SE HOUVER *@
        @if (!string.IsNullOrWhiteSpace(entrega.CaminhoArquivo))
        {
            <div class="form-group mb-3">
                <label>Anexo do Aluno</label><br />
                <a asp-action="DownloadArquivo" asp-route-caminho="@entrega.CaminhoArquivo">📎 Baixar Arquivo</a>

            </div>
        }
        else
        {
            <div class="form-group mb-3 text-muted">
                <small>Nenhum arquivo enviado pelo aluno</small>
            </div>
        }

        <div class="form-group mb-3">
            <label>Nota (0 a 10)</label>
            <input name="Nota" type="number" step="0.1" min="0" max="10" value="@entrega.Nota" class="form-control" required />
        </div>

        <div class="form-group mb-3">
            <label>Feedback do Professor</label>
            <textarea name="FeedbackProfessor" class="form-control" rows="3">@entrega.FeedbackProfessor</textarea>
        </div>

        <button type="submit" class="btn btn-success mb-5">Salvar Correção</button>
    </form>
}
